<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					One Step closer to Rocket Speed!
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Quote -->
			<section id="quote">
				<div class="container">
					<div class="row" id="building-type">
						<div class="col-md-8 col-sm-8">
							<h3>Select your building type</h3>
								<fieldset>

									<div class="form-check form-check-inline">
										<input class ="form-check-input" id="residential" type="radio" name="building_btn" value="residential">
										<label class="form-check-label" for="residential">Residential</label>
									</div>
									<div class="form-check form-check-inline">
										<input class ="form-check-input" id="commercial" type="radio" name="building_btn" value="commercial">
										<label class="form-check-label" for="commercial">Commercial</label>
									</div>
									<div class="form-check form-check-inline">
										<input class ="form-check-input" id="corporate" type="radio" name="building_btn" value="corporate">
										<label class="form-check-label" for="corporate">Corporate</label>
									</div>
									<div class="form-check form-check-inline">
										<input class ="form-check-input" id="hybrid" type="radio" name="building_btn" value="hybrid">
										<label class="form-check-label" for="hybrid">Hybrid</label>
									</div>

									
								</fieldset>

							<form id="quote-form" action="/view" method="POST" enctype="text-plain">

								<section id="input-fields" style="display: none;" class="pt-4">
									<div id="input-title" >
										<h3>What your building contains</h3>
									</div>

									<div id="number-of-appartments" class="residential" style="display: none;">
										<label for="num-appt"> Number of Appartments
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberappartments" id="num-appt" min="0" max="10000" class="form-control" style="margin:0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="number-of-floors" class="residential commercial corporate hybrid" style="display: none;">
										<label for="num-floors"> Number of Floors
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberfloors" id="num-floors" min="0" max="2000" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}" >
											</div>
										</label>
									</div>

									<div id="number-of-basements" class="residential commercial corporate hybrid" style="display: none;">
										<label for="num-bsmt"> Number of Basements
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberbasement" id="num-bsmt" min="0" max="2000" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="number-of-parking-spots" class="commercial corporate hybrid" style="display: none;">
										<label for="num-parking"> Number of Parking Spots
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberparking" id="num-parking" min="0" max="20000" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="number-of-business" class="commercial hybrid" style="display: none;">
										<label for="num-business"> Number of Distinct Businesses
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberbusiness" id="num-business" min="0" max="250" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="number-of-elevator-cage" class="commercial" style="display: none;">
										<label for="num-cages"> Number of Elevator Cages Needed
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numbercages" id="num-cages" min="0" max="500" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="number-of-corporation" class="corporate" style="display: none;">
										<label for="num-corp"> Number of Corporations
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numbercorporation" id="num-corp" min="0" max="250" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="number-of-occupants" class="corporate hybrid" style="display: none;">
										<label for="num-occupants"> Maximum Occupants per Floor
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberoccupant" id="num-occupants" min="0" max="5000" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>

									<div id="Business-hours" class="hybrid" style="display: none;">
										<label for="num-hours"> How Many Hours of Activity per Day?
											<div class="stepper-wrap" style="margin: 0px 45px 0px 0px;">
												<input type="number" name="numberhours" id="num-hours" min="0" max="24" class="form-control" style="margin: 0px;" onkeyup="if(this.value<0){this.value= this.value * -1}">
											</div>
										</label>
									</div>
								</section>
								
								<div id="package-selection-button" class="col-md-8 col-sm-8" class="display">

									<h4>Which Package Are You Going For?</h4>

									<div class="form-check">
										<input class ="form-check-input" id="standard" type="radio" name="service_btn" value="standard">
										<label class="form-check-label" for="standard">Standard Package<span class="text-muted" style="font-size: 75%"> (7,565$/Elevator) </span></label>	
									</div>

									<div class="form-check">
										<input class ="form-check-input" id="premium" type="radio" name="service_btn" value="premium">
										<label class="form-check-label" for="premium">Premium Package<span class="text-muted" style="font-size: 75%"> (12,345$/Elevator) </span></label>	
									</div>
									
									<div class="form-check">
										<input class ="form-check-input" id="excelium" type="radio" name="service_btn" value="excelium">
										<label class="form-check-label" for="excelium">Excelium Package<span class="text-muted" style="font-size: 75%"> (15,400$/Elevator) </span></label>	
									</div>
											
								</div>
								<br><br>

								<div class="row" id="form-results">
									<div class="field form-group">
										<label>Amount of elevators:</label>
										<%= form.text_field :amount_of_elevator, id:"ele-num", class:"form-control col-6", placeholder: "0", :readonly => true %>
									</div>
								  <div class="field form-group">
										<label>Price per Elevator:</label>
										<%= form.text_field :price_per_elevator, id:"price-unit", class:"form-control col-6", placeholder: "0", :readonly => true %>
									</div>
									<div class="field form-group">
										<label>Total Price of Elevators:</label>
										<%= form.text_field :total_price_of_elevator, id:"ele-total", class:"form-control col-6", placeholder: "0", :readonly => true %>
									</div>
									<div class="field form-group">
										<label>Installation Fees:</label>
										<%= form.text_field :installation, id:"total-fees", class:"form-control col-6", placeholder: "0", :readonly => true %>
									</div>
									<div class="field form-group">
										<label>Total Price:</label>
										<%= form.text_field :total_price, id:"finalprice", class:"form-control col-6", placeholder: "0", :readonly => true %>
									</div> 
								  <div>
										<%= form.hidden_field :building_type, id:"results" %> 
									</div>
								  <input type="text" label= "results" id="results" size="20" hidden> 
									<div class="actions">

									<div>
										<%= form.hidden_field :type_of_service, id:"results2" %> 
									</div>
								  <input type="text" label= "results2" id="results2" size="20" hidden> 
									<div class="actions">

									
									<br>
								<div class="row">
									<div class="col-md-6">
										<label for="contact:company_name">Company Name</label>
										<%= form.text_field :company_name %>
									</div>
						
									<div class="col-md-6">
										<label for="contact:company_name">Company Email</label>
										<%= form.text_field :company_email %>
									</div>
								</div>

									

									<%=form.text_field :user_id, id: :quote_user_id, class:"form-control", value: current_user.id, type: :hidden%>
										<%= form.submit class:"btn btn-primary", :onclick => "radioText()" %>
                        		
								  </div>
                </div>  
							  
							</form>
						</div>
					</div>
 


				</div>
			</section>

<% end %>
