<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @speech.attachment %>
</p>

<p>
  <strong>Result:</strong>
  <%= @speech.result %>
</p>

<%= link_to 'Edit', edit_speech_path(@speech) %> |
<%= link_to 'Back', speeches_path %>
