<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						
						<%= link_to home_index_path, class:"logo float-left scrollTo" do %>
							<%= image_tag("R2.png") %>
						<% end %>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<%= link_to "HOME", home_index_path  %>
									</li>
									<li><!-- SERVICES -->
										<%= link_to "SERVICES", home_index_path(:anchor => 'services') %>
									</li>
									<li><!-- WORK -->
										<%= link_to "PORTFOLIO", home_index_path(:anchor => 'portfolio') %>
									</li>
									<li><!-- NEWS -->
										<%= link_to "NEWS", home_index_path(:anchor => 'news') %>
									</li>
									<li><!-- CLIENTS -->
										<%= link_to "CLIENTS", home_index_path(:anchor => 'clients') %>
									</li>
									<li><!-- CONTACT -->
									<%= link_to "CONTACT", home_index_path(:anchor => 'contact') %>
									</li>
									<!-- INTERVENTIONS -->
									<li class="nav-item">
									<%=link_to "INTERVENTIONS", new_intervention_path, class:"nav-link"%>
									</li>
									<!-- QUOTE -->
									<li class="nav-item">
									<%=link_to "QUOTE", new_quote_path, class:"nav-link"%>
									</li>
									<!-- LOGIN -->
									<%if user_signed_in? %>
									<li class="nav-item">
									<%=link_to "EDIT PROFILE", edit_user_registration_path, class:"nav-link"%>
									<% 
									def set_role
  										admin_emails = ["nicolas.genest@codeboxx.biz","nadya.fortier@codeboxx.biz","martin.chantal@codeboxx.biz","mathieu.houde@codeboxx.biz","patrick.thibault@codeboxx.biz","david.boutin@codeboxx.biz","mathieu.lortie@codeboxx.biz","thomas.carrier@codeboxx.biz","serge.savoie@codeboxx.biz","francis.patry-jessop@codeboxx.biz","mathieu.lefrancois@codeboxx.biz","david.larochelle@codeboxx.biz","nicolas.pineault@codeboxx.biz","david.amyot@codeboxx.biz","remi.gagnon@codeboxx.biz","timothy.wever@codeboxx.biz","kiril.kleinerman@codeboxx.biz","emmanuela.derilus@codeboxx.biz","abdul.akeeb@codebozz.biz","krista.sheely@codeboxx.biz","jonathan.murray@codeboxx.biz"]
  										self[:role] = if admin_emails.include?(self[:email])
    										"admin" 
  										else
    										"customer"
  										end
									end
									%>

									</li>

									<li class="nav-item">
									<%=link_to "SIGN OUT", destroy_user_session_path, :method => :delete, class:"nav-link"%>
									</li>

									<%else%> 
									<li class="nav-item">
									<%=link_to "REGISTER", new_user_registration_path, class:"nav-link"%>
									</li>

									<li class="nav-item">
									<%=link_to "LOGIN", new_user_session_path, class:"nav-link"%>
									</li>
								<%end%>

								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>